
        <div class="">
            

            <div class="text-box">
                <div class="p-box">
                    <p>“I never sleep alone. If there is no one to sleep next to, I'll sleep next to a stuffed animal. It makes me feel secure and safe. It's a little embarrassing to admit it; I'm an old man now. It's important to me though.” — Sayings</p>
                </div>
                <div class="img-box">
                    <img src="./assets/feladat3.jpg" alt="Homemade sock monkeys" class="img-fluid">
                </div>
            </div>

            <div>
                <p>The most common stuffed toys:</p>
                    <ul *ngFor="let toy of toys">
                        <li class="list-font-weight"> {{toy}} </li>
                    </ul>
            </div>

        </div>
